.active__title {
  margin-bottom: 40px;
}

// ul
.accordion-list {
  margin: 0 auto;

  @media screen and (min-width:480px) {
    width: 480px;
  }

  @media screen and (min-width:820px) {
    width: 650px;
  }

  &:hover .accordion__btn {
    display: block;
    font-size: 30px;
    color: $color-black-light;
  }

}

.input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;

  position: absolute;
}

//  div  img  hide;
.content-accordion {
  max-height: 0px;
  opacity: 0;
  padding: 10px 15px;
  transition: opacity 250ms ease-in-out 0s;
}

.accordion__title:hover~.content-accordion,
.content-accordion:hover {
  display: block;
  opacity: 1;
  max-height: 700px;
  transition: opacity 250ms $timing-function;
}

input:checked~.content-accordion {
  display: block;
  opacity: 1;
  visibility: visible;
  overflow: auto;
  max-height: 568px;
}

.input:checked~.accordion__title {
  background-color: $color-blue-light;
}

// li
.accordion__item {
  // width: 100%;
  margin-bottom: 10px;
  border: 2px solid $fill-grey;
  cursor: auto;
  transition: cursor 250ms $timing-function;

  &:hover {
    cursor: pointer;
  }
}

// label - name question;
.accordion__title {
  position: relative;
  display: block;
  padding: 10px 5px;
  transition: background-color 250ms $timing-function;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-blue-light;
    transition: background-color 250ms $timing-function;
  }

  @media screen and (min-width:568px) {
    font-size: 20px;
    padding: 10px 15px;
  }
}

.accordion__title::after {
  content: "+";

  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  font-size: 30px;
  color: red;
}
.accordion__title:hover::after {
  content: "×";
}
.input:checked~.accordion__title::after {
  content: "×";
}



// .accordion__title::after {
//   content: " ";
//   display: block;
//   width: 16px;
//   height: 16px;

//   position: absolute;
//   top: 50%;
//   right: 15px;
//   transform: translateY(-50%);
//   background-color:red;
//   color: black;

// }

// span + btn + svg;
// .close,
// .open {
//   width: 30px;
//   height: 30px;
//   fill: red;
// }

.accordion__btn {}


// .accordion__title::after {
//   content: "+";

//     position: absolute;
//     top: 50%;
//     right: 15px;
//     transform: translateY(-50%);

//     font-size: 30px;
//     color: red;
// }

// .input:checked~.accordion__title::after {
//   content: "×";
// }
// .accordion__btn .close {
//   display: none;

// }

// .accordion__btn .open {
//   display: none;

// }

// .accordion__btn:hover.open {
//   display: none;
// }

// .accordion__btn:hover.close {
//   display: block;
// }

// .accordion__btn:hover {
//   cursor: pointer;
// }

.content-accordion__img-meme {
  margin: 0 auto;
  width: 235px;
  max-height: 443px;

  @media screen and (min-width:568px) {
    width: 440px;
  }

  @media screen and (min-width:820px) {
    width: 600px;
  }
}




// + + 
// .accordion__title::after {
//   content: "+";

//     position: absolute;
//     top: 50%;
//     right: 15px;
//     transform: translateY(-50%);

//     font-size: 30px;
//     color: red;
// }

// .input:checked~.accordion__title::after {
//   content: "×";
// }







// title and btn
// display: flex;
// align-items: center;
// justify-content: space-between;


// .accordion__item:hover>.accordion__title {
//   background-color: transparent;
// }

// .accordion__item:last-child>.accordion__title,
// .accordion__item:last-child>.content-accordion {
//   background-color: transparent;
// }

// hide display content

// .content-accordion {
//   padding: 0 10px;
//   line-height: 1.2;
//   max-height: 0;
//   opacity: 0;
//   transition: opacity 1050ms $timing-function;
// }
// .content-accordion {
//   margin: 0px;
//   opacity: 0;
//   max-height: 0px;
//   padding: 5px 10px;

//   transition: opacity 250ms ease-in-out 0s;
// }

// .accordion-list .accordion__title+.input:checked+.content-accordion {
// max-height: 568px;
//   opacity: 1;
//   visibility: visible;
//   overflow: auto;
//   display: block;
// }