.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 568px) {
  .container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 820px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    // max-width: 1920px;
  }
}
