
  $color-primary-black: #212121;
  $color-orange: #fcfcdb;
  $color-action: #2196f3;
  $color-border-light: #ececec;
 $color-blue-light: #3fe122;
  $color-background-cont-light: #fbfbfb;
  $color-second-white: #fff;
  $color-black-light: #2f303a;
  $fill-grey: #6d6e72;
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);



 $font-primary: "Roboto";
 $font-accept: "Raleway", sans-serif;
